
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
src/AvicollectFMD.API/bin/AvicollectFMD.API.dll.config
src/AvicollectFMD.Elastic/bin/Debug/AvicollectFMD.Elastic.dll.config
src/AvicollectFMD.Elastic/bin/Debug/Elasticsearch.Net.xml
src/AvicollectFMD.Elastic/bin/Debug/Nest.xml
src/AvicollectFMD.Logic/bin/Debug/AvicollectFMD.Logic.dll.config
src/AvicollectFMD.Logic/bin/Debug/Elasticsearch.Net.xml
src/AvicollectFMD.Logic/bin/Debug/Nest.xml
src/AvicollectFMD.Logic/bin/Debug/Newtonsoft.Json.xml
src/AvicollectFMD.Logic/obj/Debug/AvicollectFMD.Logic.csproj.FileListAbsolute.txt
src/AvicollectFMD.Logic/bin/Debug/AvicollectFMD.Logic.dll.config
src/AvicollectFMD.Logic/bin/Debug/Elasticsearch.Net.xml
src/AvicollectFMD.Logic/bin/Debug/Nest.xml
src/AvicollectFMD.Logic/bin/Debug/Newtonsoft.Json.xml
src/AvicollectFMD.Logic/obj/Debug/AvicollectFMD.Logic.csproj.FileListAbsolute.txt
src/AvicollectFMD.Logic/bin/Debug/AvicollectFMD.Logic.dll.config
src/AvicollectFMD.Logic/bin/Debug/Elasticsearch.Net.xml
src/AvicollectFMD.Logic/bin/Debug/Nest.xml
src/AvicollectFMD.Logic/bin/Debug/Newtonsoft.Json.xml
src/AvicollectFMD.Logic/obj/Debug/AvicollectFMD.Logic.csproj.FileListAbsolute.txt
src/AvicollectFMD.Logic/bin/Debug/Elasticsearch.Net.xml
src/AvicollectFMD.Logic/bin/Debug/Elasticsearch.Net.xml
src/AvicollectFMD.Logic/bin/Debug/Nest.xml
src/AvicollectFMD.Logic/bin/Debug/Newtonsoft.Json.xml
